<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Courses</title>
</head>
<body>
    <h1>Jyothy Institute of Technology</h1>
    <h4>Please enter the following details to register in any Courses.</h4>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
        <p>{{param1}}</p>
    </form>
    
</body>
</html>